# Gateway Configuration
PORT=3000

# Redis Configuration (for Rate Limiting)
REDIS_URL=redis://localhost:6379

# Downstream Microservice URLs
AUTH_SERVICE_URL=http://localhost:3001
CATALOG_SERVICE_URL=http://localhost:3002
ORDER_SERVICE_URL=http://localhost:3003
PAYMENT_SERVICE_URL=http://localhost:3004
INVENTORY_SERVICE_URL=http://localhost:3005
